${title} ${name} ${surname}, ${sex} ${race}, UPP ${upp}, ${age} years old
Birth world: ${birth_world_name} UPP: ${birth_starport}-${birth_upp}
${career_name} ${ranks} ${terms} Terms ${status} Cr ${cash}
Discharge World: ${discharge_world_name} UPP: ${discharge_starport}-${discharge_upp}

${skills}

${possessions}

PSR ${psionic_rating} Psi Trained: ${psionic_trained} Talents: ${psionic_talents}

