WORLD
***
Birth world: ${birth_world_name} 
UPP: ${birth_starport}-${birth_upp}
starport: ${birth_starport}

size: ${size}
atmosphere: ${atmosphere}
hydrographics: ${hydrographics}
population: ${population}
government: ${government}
lawlevel: ${lawlevel}
techlevel: ${techlevel}

LOCAL TRADE
${trade}
